@model CozaStore.ViewModels.LoginVM
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<form asp-action="Login" method="POST">
    <div asp-validation-summary="ModelOnly" class="text-danger" hidden></div>
  <div class="mb-3">
    <label asp-for="Email" class="form label"></label>
    <input asp-for="Email" class="form-control">
    <span asp-validation-for="Email" class="text-danger"></span>
  </div>
   <div class="mb-3">
    <label asp-for="Senha" class="form label"></label>
    <input asp-for="Senha" class="form-control">
    <span asp-validation-for="Senha" class="text-danger"></span>
  </div>
  <div class="mb-3 form-check">
    <input asp-for="Lembrar" type="checkbox" class="form-check-input" >
    <label asp-for="Lembrar" class="form-check-label" ></label>
  </div>
  <input type="hidden" asp-for="UrlRetorno">
  <button type="submit" class="btn btn-primary">Entrar</button>
</form>

@section Scripts{
  <partial name=" _ValidationsScriptsPartial"></partial>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    let mensagemErro = '';
    $('.asp-validation-summary-errors ul li').each(function() {
      mensagemErro += $(this).text();
    });
    if(mensagemErro != '') {
      Swal.fire({
      title: " Acesso negado",
      text: mensagemErro,
      icon: "error",
      confirmButtonColor: "#FB8C00"
    });
    }
  </script>
}